<!DOCTYPE html>
<html>
<head>
  <title>Chameleon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if @logged_in_user %>
		You are logged in as <%= @logged_in_user.full_name %>. <%= link_to 'Logout', action:'logout', controller:'users' %>
	<% else %>
		Hello! Login <%= link_to 'here', action:'login', controller:'public' %>
	<% end %>

	<% if flash[:error] %>
		<p style="color: red;"><%= flash[:error] %></p>
	<% end %>

	<% if flash[:notice] %>
		<p style='color: blue;'><%= flash[:notice] %></p>
	<% end %>

<%= yield %>

</body>
</html>
